html{
    background: black;
}

body {
    margin: 0;
    padding: 0;
}

canvas{
    display:block;
}

a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    left: 15px;
    top: 15px;
    padding: 5px;

    transition: color 0.4s ease-out;
}

a:hover {
    color: #FECD76;
}